config
+ parent-provides
  + service IRQ
  + service IO_MEM
  + service ROM
  + service PD
  + service RM
  + service CPU
  + service LOG
  + service Timer
  + service Uplink

+ default | caps: 100

+ start nic | ld: no | ram: 4M
  + binary linux_slirp_nic
  + route | + any-service | + parent
  + config
    + tcp_forward | port: 5555 | to_port: 80
    + tcp_forward | port: 5556 | to_port: 443
-
